.normal {
    color: white;
    background-color: #a8a77a;
}

.lucha {
    color: white;
    background-color: #c22e28;
}

.volador {
    color: white;
    background-color: #a98ff3;
}

.veneno {
    color: white;
    background-color: #a33ea1;
}

.tierra {
    color: white;
    background-color: #e2bf65;
}

.roca {
    color: white;
    background-color: #b6a136;
}

.bicho {
    color: white;
    background-color: #a6b91a;
}

.fantasma {
    color: white;
    background-color: #735797;
}

.acero {
    color: white;
    background-color: #b7b7ce;
}

.fuego {
    color: white;
    background-color: #ee8130;
}

.agua {
    color: white;
    background-color: #6390f0;
}

.planta {
    color: white;
    background-color: #7ac74c;
}

.electrico {
    color: white;
    background-color: #f7d02c;
}

.psiquico {
    color: white;
    background-color: #f95587;
}

.hielo {
    color: white;
    background-color: #96d9d6;
}

.dragon {
    color: white;
    background-color: #6f35fc;
}

.siniestro {
    color: white;
    background-color: #705746;
}

.hada {
    color: white;
    background-color: #d685ad;
}


/* 
.normal {
    color: white;
    background-image: linear-gradient(to bottom, #a8a77a, #ffffff);
}

.lucha {
    color: white;
    background-image: linear-gradient(to bottom, #c22e28, #ffffff);
}

.volador {
    color: white;
    background-image: linear-gradient(to bottom, #a98ff3, #ffffff);
}

.veneno {
    color: white;
    background-image: linear-gradient(to bottom, #a33ea1, #ffffff);
}

.tierra {
    color: white;
    background-image: linear-gradient(to bottom, #e2bf65, #ffffff);
}

.roca {
    color: white;
    background-image: linear-gradient(to bottom, #b6a136, #ffffff);
}

.bicho {
    color: white;
    background-image: linear-gradient(to bottom, #a6b91a, #ffffff);
}

.fantasma {
    color: white;
    background-image: linear-gradient(to bottom, #735797, #ffffff);
}

.acero {
    color: white;
    background-image: linear-gradient(to bottom, #b7b7ce, #ffffff);
}

.fuego {
    color: white;
    background-image: linear-gradient(to bottom, #ee8130, #ffffff);
}

.agua {
    color: white;
    background-image: linear-gradient(to bottom, #6390f0, #ffffff);
}

.planta {
    color: white;
    background-image: linear-gradient(to bottom, #7ac74c, #ffffff);
}

.electrico {
    color: white;
    background-image: linear-gradient(to bottom, #f7d02c, #ffffff);
}

.psiquico {
    color: white;
    background-image: linear-gradient(to bottom, #f95587, #ffffff);
}

.hielo {
    color: white;
    background-image: linear-gradient(to bottom, #96d9d6, #ffffff);
}

.dragon {
    color: white;
    background-image: linear-gradient(to bottom, #6f35fc, #ffffff);
}

.siniestro {
    color: white;
    background-image: linear-gradient(to bottom, #705746, #ffffff);
}

.hada {
    color: white;
    background-image: linear-gradient(to bottom, #d685ad, #ffffff);
} */